.about {
  height: 80vh;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  margin-top: 90px;
  padding-top: 130px !important;
  height: max-content;
}

.titleComponent {
  display: inline-flex;
  width: inherit;
}

.title {
  display: inline-flex;
  font-size: 2em;
  font-weight: 500;
}

.line {
  opacity: 1;
  border: 1.5px solid;
  border-radius: 50px;
}

.title {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
/* .title:before, */
.title:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
  margin-left: 15px;
}

.aboutMe {
  width: inherit;
}
.eduInfo {
  display: block;
  width: 50%;
}

.eduInfo h1,
.skills h1 {
  font-weight: bold;
  opacity: 0.1;
  max-width: max-content;
}

@media (min-width: 320px) {
  .about {
    padding: 0 2em;
  }

  .aboutMe {
    display: block;
  }

  .eduInfo {
    width: 100%;
  }

  .eduInfo h1 {
    font-size: 2em;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .eduInfo h1 {
    font-size: 3em;
  }
}

@media (min-width: 641px) {
  .about {
    padding: 0;
  }

  .aboutMe {
    /* padding: 0 2em; */
  }

  .eduInfo {
    width: 90%;
    margin: 0 auto;
  }

  .eduInfo h1 {
    font-size: 4em;
  }
}

@media (min-width: 767px) {
  .eduInfo {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .aboutMe {
    display: inline-flex;
    padding: 0;
  }

  .eduInfo {
    width: 50%;
  }
}
