.header {
  right: auto;
  display: inline-block;
  position: fixed;
  background-color: white;
  width: 100vw;
  padding: 50px 100px;
  top: 0;
  z-index: 1;
}

.logo {
  width: 55px;
  height: 34px;
  float: left;
}
