.projects {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  margin-top: 90px;
  padding-top: 130px !important;
}

.titleComponent {
  display: inline-flex;
  width: inherit;
}

.title {
  display: flex;
  flex-direction: row;
  width: 100vw;
  font-size: 2em;
  font-weight: 500;
}

.title:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
  margin-left: 15px;
}
