.cardContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2em;
  width: 100%;
}

.card {
  border-radius: 2rem;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px;
  width: 330px;
}

.card img {
  width: 320px;
  border-radius: 1.5rem;
}

.cardComponent {
  text-align: left;
  margin: 10px 20px;
}
.cardComponent .cardTitle {
  font-size: 24px;
  font-weight: 500;
}

.cardComponent img {
  width: 40px;
  float: right;
}

.cardSubtitle {
  margin-top: 10px;
}

.cardComponent .cardTag {
  margin: 0 auto;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardComponent .cardTag span {
  border: 1.5px solid #9dd7d8;
  padding: 2px 5px;
  border-radius: 6px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.cardComponent .cardButton {
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cardComponent .cardButton a {
  background-color: transparent;
  border-radius: 2em;
  border: black 0.1rem solid;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

@media (min-width: 320px) {
  .projects {
    padding: 0 2em;
  }

  .card {
    width: 240px;
  }

  .card img {
    width: 230px;
  }

  .cardComponent img {
    display: none;
  }

  .cardButton {
    gap: 10px;
  }

  .cardButton a {
    padding: 5px 10px;
  }
}

@media (min-width: 481px) {
  .projects {
    padding: 0 2em;
  }

  .card {
    width: 330px;
  }

  .card img {
    width: 320px;
  }

  .cardComponent img {
    display: block;
    width: 40px;
  }

  .cardButton {
    gap: 20px;
  }

  .cardButton a {
    padding: 5px 30px;
  }
}
