.scrolldown {
  position: absolute;
  bottom: 50px;
  cursor: pointer;
}

.scrolldown img {
  width: 40px;
}

@media (min-width: 320px) {
  .scrolldown {
    display: none !important;
  }
}

@media screen and (min-width: 481px) {
  .scrolldown {
    display: block !important;
  }
}
